// Reset

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Basics
@import url('https://fonts.googleapis.com/css?family=Muli');
body {
  font-family: 'Muli', sans-serif;
}
p {
  line-height: 16px;
  font-size: 14px;
}
b {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}
i {
  font-style: italic;
  font-size: 14px;
}
strong {
  font-weight: bolder;
  font-size: 14px;
}
h5 {
  font-size: 16px;
}
h4 {
  font-size: 18px;
}
h3 {
  font-size: 20px;
}
h2 {
  font-size: 22px;
}
h1 {
  font-size: 24px;
}
.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

// Grid Layout
#grid-layout {
  margin: 0;
  display: grid;
  grid-template: "header header" 50px
                "highlights highlights" 250px
                "nav main" 1fr
                "foot foot" 150px
                / 220px 4fr;
}
// Header
.menu-header {
  grid-area: header;
  padding: 15px;
  text-align: center;
  background-color: lightskyblue;
  > .list > .link {
    text-decoration: none;
    > .item {
      display: inline-block;
      color: white;
      margin-right: 10px;
      &.-logo {
        font-weight: bolder;
      }
    }
  }
}
// Highlights Section
.highlights-section {
  grid-area: highlights;
  margin: 25px 0;
  > .highlights {
    display: grid;
    grid-template-areas: "a a a a a a";
    //grid-auto-columns: calc(100%/6 - 10px);
    grid-gap: 20px;
    margin: 0 20px;
    padding: 0;
    > .item {
      justify-content: center;
      align-items: center;
      display: flex;
      > .image {
        max-width: 200px;
        opacity: 0.3;
      }
    }
  }
}
// Navigation Left
.navigation-left {
  grid-area: nav;
  padding: 15px;
  > .list > .link {
    text-decoration: none;
    color: black;
  }
}
// Content Main
.content-main {
  grid-area: main;
  background-color: white;
  padding: 15px;
}
// Footer
.menu-footer {
  grid-column: foot;
  background-color: gray;
  > .content {
    padding: 15px;
    > .list {
      width: 200px;
      height: 100px;
      display: inline-block;
      > .link {
        text-decoration: none;
        > .item {
          color: white;
          margin-right: 10px;
          &.-logo {
            font-weight: bold;
          }
        }
      }
    }
  }
}

